<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [4]:
# Enter Student names here:
student_names = ['andew', 'nick', 'abraham', 'mohit', 'christina', 'maya']

In [5]:
student_names

['andew', 'nick', 'abraham', 'mohit', 'christina', 'maya']

---

### 1) What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
my_vars = [a, b , c, d, e]
for var in my_vars:
    print(type(var))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

In [7]:
from my_functions import printfive

ImportError: cannot import name 'printfive' from 'my_functions' (/Users/mohitsangwan/Desktop/New-work---July-31/my_functions.py)

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [8]:
# A:
student_names.append('ritu')
student_names

['andew', 'nick', 'abraham', 'mohit', 'christina', 'maya', 'ritu']

In [10]:
student_names[0] + ' chen'

'andew chen'

In [12]:
d['thing1'] = 'stuff_about_thing1'

In [13]:
d

{'kiefer': 'katovich', 'dave': 'yerrington', 'thing1': 'stuff_about_thing1'}

---

### 3) Print the `student_names` list.

In [20]:
# A:
print(student_names)

['andew', 'nick', 'abraham', 'mohit', 'christina', 'maya', 'ritu']

In [23]:
student_names = [student.capitalize() for student in student_names]
print(student_names)

['Andew', 'Nick', 'Abraham', 'Mohit', 'Christina', 'Maya', 'Ritu']

---

### 4) Print the names of the first and last students on the list.

In [31]:
# A:
print(student_names[0])
print(student_names[-1])

Andew
Ritu

---

### 5) Print the first five names in the `student_names` list.

In [34]:
# A:
student_names[:5]

['Andew', 'Nick', 'Abraham', 'Mohit', 'Christina']

In [35]:
student_names[-3:]

['Christina', 'Maya', 'Ritu']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [38]:
# A:
fourth_fifth = student_names[5] + ' ' + student_names[6]
print(fourth_fifth)

Maya Ritu

---

### 7) Append an animal to the list of animals.

In [40]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [45]:
# A:
animals.append('penguin')
animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'duck', 'penguin']

---

### 8) Print the length of the `animals` list.

In [48]:
# A:
len(animals)

8

---

### 9) Divide the length of the fifth animal by the second.

In [51]:
# A:
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [ ]:
# A:

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [61]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [66]:
# A:
dict(zip(animals, numbers))

{'duck': 0.0,
 'rat': 0.1,
 'boar': 1.0,
 'slug': 10.0,
 'mammoth': 100.0,
 'gazelle': 1000.0}

In [68]:
my_dict = {}
for animal, number in zip(animals, numbers):
    my_dict[animal] = number * 10
my_dict

{'duck': 0.0,
 'rat': 1.0,
 'boar': 10.0,
 'slug': 100.0,
 'mammoth': 1000.0,
 'gazelle': 10000.0}

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [71]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [72]:
# A:
new_name = 'mohit'
k_idx = names.index('kiefer')
names.remove ('kiefer')
names.insert(k_idx, new_name)
names

['doug', 'billy', 'mohit', 'kian', 'sam']

TypeError: list indices must be integers or slices, not str

---

### 13) Sort the following list.

In [76]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [77]:
# A:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [81]:
# A:
mix[-2] > mix[-3]

False

---

### 15) Find the index of `'a'` in the list.

In [83]:
# A:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [86]:
# A:
mix.reverse()
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [87]:
# A:
new_var = mix.pop()
new_var

['billy', 'sam']

In [88]:
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}]

mix

---

### 18) Count the number of times `0` appears in the following list.

In [90]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [91]:
# A:
binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [93]:
# A:
neighborhoods = {'sunset':94122, 'presidio':94129, 'soma':94105, 'marina':94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [94]:
# A:
neighborhoods['soma']

94105

---

### 21) Get the keys out of the dictionary.

In [97]:
# A:
neighborhoods.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

In [98]:
neighborhoods.values()

dict_values([94122, 94129, 94105, 94123])

In [99]:
neighborhoods.values()

dict_values([94122, 94129, 94105, 94123])

In [100]:
for neighborhood in neighborhoods.keys():
    print(neighborhood)

sunset
presidio
soma
marina

In [103]:
for zipcode in neighborhoods.values():
    print(zipcode)

94122
94129
94105
94123

In [104]:
for neigh, zipcode in neighborhoods.items():
    print(neigh, zipcode)

sunset 94122
presidio 94129
soma 94105
marina 94123

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [109]:
holder = []
for neigh, zipcode in neighborhoods.items():
    holder.append((neigh, zipcode))

holder

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

In [ ]:
# A:

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [110]:
# A:
neighborhoods['castro'] = 94114
neighborhoods

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [112]:
small = {'outer_richmond':94121, 'dogpatch':94107}
neighborhoods.update(small)
neighborhoods

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

In [111]:
# A:
neighborhoods.update?

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [117]:
# A:
sunset_zip = neighborhoods.pop('sunset')
neighborhoods, sunset_zip

({'presidio': 94129,
  'soma': 94105,
  'marina': 94123,
  'castro': 94114,
  'outer_richmond': 94121,
  'dogpatch': 94107},
 94122)

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [123]:
# A:
neighborhoods.get('sunset','not in there')

'not in there'

SyntaxError: invalid syntax (<ipython-input-125-0be683ba6b0c>, line 1)